.invoicesItem {
  padding: 14px 20px;

  & > div {
    display: flex;
    align-items: center;

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #040707;
    }
  }
}

.actionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.disableBtnContainer,
.downloadBtnContainer,
.editBtnContainer {
  cursor: pointer;
}
