.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding-left: 108px;
  padding-right: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 29px;
  padding-bottom: 29px;
  background: #f5f5f5;
}
